html{background:url(../images/body_bg.png);}
body {
	font-size: 14px ;
	font-family:"宋体";
	margin:0px;
	padding:0px;
	/*background:url(../images/body_bg.png);*/
}
a{color:#000;text-decoration:none;}
a:hover{color:#FF6600;text-decoration:underline;}
select{
	font-family:"宋体";
font-size: 12px;
z-index:0;
}
form{
margin:0px;
padding: 0px;
}
#Layer1 {
	position:absolute;
	width:216px;
	height:25px;
	z-index:1;
}
.login { 
	border: 0px;
	font-size: 12px;
	height: 21px;
	width: 141px;
	padding: 4px 0px 0px 5px;
	background:url(../images/input_bg2.png);
}

#top{
	margin:0px;
	background:url(../images/top_bg.gif);
	padding: 0px;
	height: 79px;
}


#into_bar{
	background-image: url(../images/into_bar_bg.png);
	height: 54px;
	padding: 5px 0px 0px 0px
}
td{
	font-family:"宋体";
	font-size: 12px;
	color: #373e53;
	line-height: 150%;	
}
A:link{
	color: #103468;
	text-decoration: none;
} 
A:visited { 
	text-decoration: none;
	color: #373e53;
}
A:hover { 
	color: #0061ae;
	text-decoration: none;
} 
A:active { 
	color: #373e53;
	text-decoration: none;
} 


/******菜单******/
#navCircle {
		margin: 0 0 0 86px;
        padding: 0px;
		font-family: "宋体";
		font-size:14px;
}
#navCircle ul {
        margin: 0;
        padding: 0;
        display: inline;
        list-style-type: none;
}
#navCircle li {
        margin: 0;
        padding: 0;
        display: inline;
        list-style-type: none;
}
#navCircle a:link, #navCircle a:visited{
        float: left;
		font-family: "宋体";
		font-size:14px;
        padding: 0px 20px 0px 20px;
		margin: 0px 2px 0px 2px;
        text-decoration: none;
		font-weight: bold;
		line-height:38px;
        color: #333;
		height:38px;
}

#navCircle a:link.active, #navCircle a:visited.active,#navCircle a:hover{
        padding: 0px 20px 0px 20px;
        color: #000;		
        font-weight: bold;
		margin: 0px 2px 0px 2px;
		line-height:38px;
        background:  url(../images/bar_onbg.gif);
		height:38px;
}

#bar{
	padding: 0px 0px 0px 0px
}

/***********************************************/
/* 标题                               */
/***********************************************/
.bar_title{
	font-size:16px;
	color:#fff;
	font-family: "微软雅黑", "黑体";
}

.title_01{
	margin: 0px;
	padding: 0px 10px 0px 2px;
	color: #517cb1;
	font-size:12px;
	font-family:"宋体";
}
.open_title{
	margin: 0px;
	padding: 0px 0px 2px 30px;
	color:#FFFFFF;
	font-size:14px;
	font-family:"宋体";
}
.info1{
	color:#036; 
	line-height:20px; 
	font-size:12px;
	}
.open_title_on{
	padding: 0px 0px 0px 0px;
	background: url(../images/open_title.gif) ;
	font-size:14px;
	color:#000;
	font-family:"宋体";
	height: 81px;
	font-weight: bold;
	text-align:center;
}
.open_title_on h1{
	font-size:12px;
	color:#999;
	font-family:"宋体";
	text-align:center;
	font-weight: normal;
	list-style:none;
	margin: 0px;
}
.con_title{
	color:#C80000;
	font-size:14px;
	padding: 2px 5px 3px 0px;
	font-weight: bold;
}

.title_02{
	padding: 4px 0px 0px 0px;
	color:#333333;
	font-size:14px;
	font-family:"宋体";
	font-weight: bold;
}
.put{
	border: 1px solid #ccc;
	background-image: url(../images/input_bg.gif);
	height:16px;}
.txt_14{
font-size:14px;
font-weight:bold;
color:#333333;
}
.title_16
{
font-size:16px;
font-weight:bold;
color:# 036;
line-height:16px;
padding:0 0 6px 0;
}

.txt_up{
background:url(../images/ico_up.gif) ;
background-repeat: no-repeat;
padding:0  0 0 12px;
font-size:14px;
font-weight:bold;
color:#CC0000;
}
.txt_down{
padding-left:22px;
padding-top: 3px;
padding-bottom: 5px;
font-size:14px;
color:#336600;
border-bottom: dashed 1px #aaa;

}
.txt_14b{
font-size:14px;
font-weight:bold;
color:#006699;
padding-top:5px;
}	
.kuang_y{
	border: 2px solid #fff;
	height:10px;
	background: #FC0;	
	}
.kuang_r{
	border: 2px solid #fff;
	height:10px;
	background: #F00;}
	
.kuang_g{
	border:2px solid #fff;
	height:10px;
	background: #0C0;
}

#news{
	margin: 10 0 0 8;
}

#news ul{
	margin:0px;
	padding: 0px 0px 5px 0px;
	list-style:none;

}
#news li{
	padding: 5px;
	font-size:14px;
	background-repeat: no-repeat;
	background-position: left top;
	border-bottom: dotted 1px #bfd2a2;
	line-height: 22px;
}
#news1{
	margin:13px 5px 5px 11px;
}

#news1 ul{
	margin:0px;
	padding: 0px 0px 0px 0px;
	list-style:none;

}
#news1 li{
	padding: 2px 0px 2px 20px;
	margin-top:18px;
	font-size:14px;
	background-image: url(../images/dian.gif);
	background-repeat: no-repeat;
	background-position: left top;
	border-bottom: dotted 1px #bfd2a2;
	line-height: 20px;
}
#star{
margin:20px 36px 0px 0px;
line-height:180%;
}
#soft{
margin: 10px 18px 10px 21px;
line-height:180%;
}
.title_03 {
	color: #333333;
	font-weight: bold;
	padding:0px 0px 2px 0px;

}
#id{
	color:#FFF;
	margin:32px 0px 0px 54px;
	}
.button_01{
	border: 0px;
	height:18px;
	width:61px;
	color:#036;
	background-image: url(../images/button_bg1.gif);
	background-repeat: no-repeat;
	padding:0 0 4px 0;
}
.input2{
	border: 0px;
	height:18px;
	padding:0px 0px 0px 0px;
	width:100px;
	background-image: url(../images/input.gif);
}
.mytable,.mytable td {   
    border:1px solid #bfd2a2;   
    border-collapse:collapse;
	padding:5px 5px 5px 8px;
}  
.search_input{
	border: 0px;
	height: 16px;
	width:134px;
	padding:2px 2px 2px 3px;
	background-image: url(../images/input_bg1.gif);
	background-repeat: no-repeat;
	background-position:right；
	font-size:12px;
	margin:2px 2px 0px 0px;
}
#search_bg{
	background-image: url(../images/search_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 5px 0 0 29px;
	margin:0 0 0 15px;
	height: 24px;
	font-size:12px;
	width:300px;
	overflow:hidden;
}
.but_1{
	border: 2px solid #FFF;
	padding: 0px 0px 2px 0px;
	height:22px;
	width:64px;
	color:#FFF;
	font-size:12px;
	background-image: url(../images/button_01.gif);

}
.gopage{
	border: 1px solid #bfd2a2;
	padding: 2px;
	height:16px;
	width:25px;
	font-size:12px;

}
.search_list_title{
	font-size: 14px;
	font-weight: bold;
	padding:0px 0px 0px 10px;
	margin:0px 4% 0px 4%;
	background-image: url(../images/dian2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	line-height:180%;
	color:#B03B02;
}
.search_list_txt{
	font-size: 12px;
	line-height:150%;
	padding:0px 0px 0px 10px;
	margin:0px 4% 0px 4%;
}
.time{
	font-size: 10px;
	float:right;
	 position:absolute; 
	right: 30px; 
	margin:-20px 0 0 10px;
	font-weight:normal;
	font-family:Arial;
	color:#999999;
}
.tab_menu{
padding: 3px 0px 2px 2px;
background: #F0F0F0;
text-align:center;
border-right: 1px solid #C8C8C8;
border-bottom: 1px solid #C8C8C8;

}
/***********************************************/
/* into list                                 */
/***********************************************/
#into_list{
	margin:0px 0px 0px 0px;
	clear:both;	
}

#into_list ul{
	width: 675px;
	margin:0px;
	padding: 0px 0px 5px 0px;
	list-style:none;
	float:left;

}
#into_list li{
	padding: 3px 0px 3px 12px;
	margin:0px;
	float:left;
	font-weight: bold;
	background-image: url(../images/list_bg.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	border-bottom: solid 1px #D70000;

}
#into_list_in{
	margin:0px;
	clear:both;
}

#into_list_in ul{
	width: 675px;
	margin:0px;
	padding: 0px 0px 5px 0px;
	list-style:none;
	border-bottom: dotted 1px #999999;
	float:left;
}
#into_list_in li{
	padding: 3px 0px 3px 12px;
	margin:0px;
	float:left;
	line-height: 150%;
}
/***********************************************/
/* into page                                 */
/***********************************************/

#into_menu_on{
	background-image: url(../images/into_menu_onbg.gif);
	height:25px;
	padding:7px 0 0 25px;
	font-size:14px;
	font-weight: bold;
}

#into_menu{
	background-image: url(../images/into_menu_bg.gif);
	background-position:bottom;
	height:27px;
	padding:7px 0 0 25px;
	font-size:14px;

}
#into_menu2{
	background-image: url(../images/into_menu_bg.gif);
	background-position:bottom;
	height:27px;
	width:198px;
	padding:7px 0 0 25px;
	margin-top:45px;
	font-size:14px;

}
.into_menu_end{
	background: #E4E4E4;
	border-bottom: 6px solid #FFFFFF;
}
.into_title_03{
	background-image: url(../images/into_title_03.gif);
	padding:1px 6px 5px 6px;
	height:26px;
	color: #036;
	font-weight: bold;
	background-position:left bottom;
	font-size:12px;
}
.into_title_03a{
	background-image: url(../images/into_title_03.gif);
	background-repeat:repeat-x;
	padding:1px 6px 5px 6px;
	height:26px;
	color: #036;
	font-weight: bold;
	border-left:1px solid #bcc8d2;
	border-right:1px solid #bcc8d2;
	background-position:left bottom;
	font-size:12px;
}
.tab_list{
	border-bottom: dotted #CCC 1px;
	height:22px;
}
.tab_list2{
	border-bottom: solid #bcc8d2 1px;
	height:22px;
	padding:0 0 0 6px;
}
.into_title_02{
	background-image: url(../images/into_title_02.gif);
	padding:0px 6px 10px 6px;
	background-position:left bottom;
	height:21px;
}
.into_title_04{
	background-image: url(../images/into_title_04.gif);
	padding:8px 6px 0px 0px;
	height:21px;
	color:#006699;
	font-weight: bold;
	font-size:12px;
}
.open_tab_on{
	color: #36C;
	font-weight:bold;
	padding:5px 0 0 0;
	font-size:14px;
}
.open_tab_off{
	color:  #069;
	padding:5px 0 0 0;
}
.txt14bai {
	color: #fff;
	font-weight: bold;
	font-size:14px;
}
.txt12bai {
	color: #fff;
	font-size:12px;
}
.into_menu_on{
	background-image: url(../images/into_menu_onbg.gif);
	height:25px;
	padding:7px 0 0 25px;
	font-size:14px;
	font-weight: bold;
}

.into_menu{
	background-image: url(../images/into_menu_bg.gif);
	background-position:bottom;
	height:27px;
	padding:7px 0 0 25px;
	font-size:14px;

}
.menuInfo{
	font-size:14px; 
	line-height:26px;
	padding: 10px; 
	display: none;
	height:470px;
	overflow: auto;
}
